.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.6rem;
  padding-bottom: 4.8rem;
}

/* Name */
.detailsContainer h1 {
  padding: 0.5rem;
  text-align: center;
}

/* Amount */
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.amount p {
  padding: 0.5rem;
}

.amount p span {
  border-bottom: solid;
  border-color: blue;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.amount div button {
  padding: 0.3rem;
  margin: 0.1rem;
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 0.3rem;
}

/* Price */
.price {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 1px;
}

/* Options */
.options {
  width: 80%;
  padding: 0.5rem;
  padding-bottom: 1rem;
  margin: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px;
  border-width: 1px;
  background-color: lightgray;
}

.options p {
  padding: 0.2rem;
}

.options select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Descripton */
.description {
  text-align: justify;
  padding: 0.5rem;
  width: 80%;
}

.description span {
  font-weight: bold;
}

/* Buttons */
.buttons {
  background-color: lightgray;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  box-shadow: 0px -2px 10px black;
}

.buttons a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}

.buttons button {
  background-color: green;
  color: white;
  padding: 0.5rem;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
